<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Document</title>
	</head>
	<body>

		<!-- The text -->
		<div class="button1">
			<div class="Head">Hello im Using Three.js</div>
		</div>


		<!-- Yep You need all of this -->

		<!-- Three.js -->
		<script src="./node_modules/three/build/three.min.js"></script>
		<script src="./node_modules/three/examples/js/controls/OrbitControls.js"></script>
		<script src="./node_modules/three/examples/js/controls/FirstPersonControls.js"></script>
		<script src="./node_modules/three/examples/js/controls/PointerLockControls.js"></script>
		<script src="./node_modules/three/examples/js/controls/TrackballControls.js"></script>
		<script src="./node_modules/three/examples/js/loaders/GLTFLoader.js"></script>

		<!-- dat Gui -->
		<script src="./node_modules/dat.gui/build/dat.gui.js"></script>
		<script src="./node_modules/dat.gui/build/dat.gui.css"></script>

		<!-- animation From GSAP -->
		<script src="./node_modules/gsap/dist/gsap.min.js"></script>

		<!-- script from template -->
		<script src="scripts.js"></script>
	</body>
</html>
